* {
    /* box-sizing: border-box;
    padding: 0;
    margin: 0;shows what applies to everything on the page */
}

body {
    background-color: #d9dcd6; /*this creates the background color*/
    display: flex;
}

h1 {
    margin-bottom: 10px;
    display: flex;

}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #404c53;
    color: #ffffff; /*this shows the header's background color, text color, and the type of font*
}

header h1 {
    display: inline-block;
    font-size: 48px; /*shows the font size and placement*/
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;/*shows the navagtion links css property's*/
}

header nav ul {
    list-style-type: inline-block; /*displays the way the list of navagations appear*/ 
}

header nav ul li {
    display: inline-block;
    margin-left: 0;/* shows how far to the left the navagation start as well as the text being in line*/
}
